// ☢ DNS-Предзагрузка ☢
//- Сообщаем браузеру, что мы будем обращаться к Яндекс метрике и этот адрес следует зарезолвить.
link(rel="dns-prefetch" href="//mc.yandex.ru/")
//- // ☢ Предзагрузка сторонних ресурсов ☢
//- link(rel="preconnect" href="//use.fontawesome.com/releases/v4.7.0/css/")
//- link(rel="preconnect" href="//use.fontawesome.com/releases/v4.7.0/fonts/")