// ☢ Подключаем скрипты ☢
<!--[if lte IE 9]>
script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")
<![endif]-->

//- script(async src="https://use.fontawesome.com/540f71f723.js")

script(src="/js/jquery-3.2.1.min.js")
script(src="/js/tether.min.js")
script(src="/js/bootstrap.min.js")
script(src="/js/moveTo.min.js")
script(src="/js/Hyphenator.js")
script(src="/js/slick.min.js")
script(src="/js/parallax.min.js")