.row#about
  .col-12
    h2.mt-5.pt-5.text-center Сервисный центр «Девять Мастеров»
.row
  .col-sm-6.text-justify
    p Маркин Константин — дипломированный мастер-специалист, основатель сервисного центра «Девять Мастеров».
    p Успешно прошёл обучение заточки парикмахерского инструмента в Санкт-Петербургской студии 
      a(href="http://gostcom.ru/" rel="nofollow" target="_blank") «Белая Акула»
      | .
    p Закончил обучение у лучшего мастера по заточке грумерского инструмента — 
      a(href="https://vk.com/antonzatochkaspb98" rel="nofollow" target="_blank") Антона Гумина
      | .
    p Брал мастер-класс в Московской студии заточки и ремонта 
      a(href="http://www.zatochca.ru/" rel="nofollow" target="_blank") «Грани»
      | .
    p Калининградский сервисный центр заточки маникюрного и парикмахерского инструмента «Девять Мастеров» также предоставляет 
      strong услуги по ремнту 
      |  электрооборудования любой сложности.
    p Низкие цены, только оригинальные запчасти, огромный ассортимент запасных деталей, гарантия на работу — всё это мы предоставляем!
    p Также мы рады предложить вам наши товары — аккумулятор для «Moser»: «ChromStyle», «GenioPlus», кусачки, ножницы, щипчики и другие инструменты. 
  .col-sm-6
    .about.slider
      .slider__item
        img.img-fluid.slider__img-about(src="/img/about/1.jpg" alt="Отзыв об мастере заточки")
      
      .slider__item
        img.img-fluid.slider__img-about(src="/img/about/2.jpg" alt="Отзыв zatochka39.ru")

      .slider__item
        img.img-fluid.slider__img-about(src="/img/about/3.jpg" alt="Отзыв заточка калининград")

      .slider__item
        img.img-fluid.slider__img-about(src="/img/about/4.jpg" alt="Отзыв")

      .slider__item
        img.img-fluid.slider__img-about(src="/img/about/5.jpg" alt="Отзыв о заточке")