.row
  .col-12
    h2.mt-5.pt-5.text-center Гарантируем
.row
  .col-12.col-sm.text-center
    img.pt-3(src="/img/icon/races.png" alt="Быстро")
    p.pt-3 Ваш инструмент будет заточен за 24 часа или даже быстрее!
  .col-12.col-sm.text-center
    img.pt-3(src="/img/icon/razor.png" alt="Парикмахерский нож")
    p.pt-3 Качество заточки сравнимое с новым инструментом и даже острее!
  .col-12.col-sm.text-center
    img.pt-3(src="/img/icon/electric-razor.png" alt="Машинка для стрижки")
    p.pt-3 Высококачественный ремонт парикмахерских инструментов с гарантией!