.row
  .col-12
    h2.mt-5.pt-5.text-center Как сделать заказ?
.row.text-center
  .col
    img.pt-3(src="/img/icon/mobile-phone-with-wifi.png" alt="Телефон")
    p.donthyphenate.pt-3 Оставьте заявку по телефону: 
      br 
      | 8 (900) 56‒56‒156
  .col
    img.pt-3(src="/img/icon/direction-pin-and-map.png" alt="Карта")
    p.donthyphenate.pt-3 Привезите инструмент по адресу: 
      br
      | г. Калининград, ул. Ореховая 7, офис 13
  .col
    img.pt-3(src="/img/icon/24-hours.png" alt="Сутки")
    p.donthyphenate.pt-3 Немного подождите, пока мы наточим вам инструмент.
  .col
    img.pt-3(src="/img/icon/wallet.png" alt="Прайс-лист")
    p.donthyphenate.pt-3 Оплатите услуги, согласно прейскуранту.
  .col
    img.pt-3(src="/img/icon/magic-wand.png" alt="Магия")
    p.donthyphenate.pt-3 Ваш инструмент заточен, как-будто новый! Не забудьте оставить отзыв!
.row.pt-5
  .col.redy-to-action
    p.text-center.display-4 Готовы сделать заказ?
    p.text-center.display-4 Звоните! 8 (900) 56‒56‒156