nav.navbar.navbar-toggleable-md.navbar-inverse.bg-primary.bg-faded
  button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  a.navbar-brand.js-trigger(href="#top" title="Заточка ножей и инструментов в Калининграде") Девять Мастеров
  .collapse.navbar-collapse.justify-content-end#navbarNavDropdown
    ul.navbar-nav
      li.av-item
        a.nav-link.js-trigger(href="#price") Прайс-лист
      li.av-item
        a.nav-link.js-trigger(href="#shop") Товары
      li.av-item
        a.nav-link.js-trigger(href="#reviews") Отзывы
      li.av-item
        a.nav-link.js-trigger(href="#about") О Компании
      li.av-item
        a.nav-link.js-trigger(href="#contacts") Контакты
      li.av-item.ml-5
        a.nav-link(href="https://vk.com/zatochka_39" rel="nofollow" title="Девять мастеров: вконтакте" target="_blank")
          span.fa.fa-vk
      li.av-item
        a.nav-link(href="https://www.instagram.com/konstantinzatochka/" rel="nofollow" title="Девять мастеров: инстаграм" target="_blank")
          span.fa.fa-instagram
      li.av-item
        a.nav-link(href="https://www.youtube.com/channel/UC-SA9d17NVvJACXgM4MdZ-Q" rel="nofollow" title="Девять мастеров: ютуб" target="_blank")
          span.fa.fa-youtube-square