.d-flex
  .container-fluid.header-bg.flex-last.w-100(data-parallax="scroll" data-image-src="/img/main-page-bg.jpg" data-z-index="1")
    .container.header-text
      .row
        .col-12
          .header-contact
            p 8 (900) 56‒56‒156
            p: span г. Калининград, ул. Ореховая 7, офис 13
            p: span пн‒пт. 10:00‒17:50
            p: a(href="https://2gis.ru/kaliningrad/geo/5630135189383579/inside/5630135189383579/profiles/5630028815727540%2C5630028815609116%2C70000001020335730%2C70000001020736291%2C70000001022745425/firm/70000001020335730?queryState=zoom%2F17" rel="nofollow" title="Где заточить инструмент в Калининграде?")
              img.mb-5(src="/img/map.jpg" alt="Заточка инструмента в Калининграде" title="Перейти в 2 ГИС" width="350" height="210")
        .col-12
          .header-title
            h1 Профессиональный ремонт и заточка маникюрных, парикмахерских инструментов в Калининграде
            p Сервисный центр &laquo;Девять Мастеров&raquo;
  .container-fluid.header-nav.flex-first.w-100.fixed-top
    .container
      include ../_components/_main-nav.jade