.col-12.col-sm-6
  h2.mt-5.pt-5#price Прайс-лист
  table.material-table
    tr.material-table__row
      th(colspan="2").material-table__caption.pt-5 Ремонт парикмахерского инструмента
    tr.material-table__row
      td.material-table__cell Ремонт маникюрных аппаратов:
      td.material-table__cell 400-1500 руб.
    tr.material-table__row
      td.material-table__cell Ремонт парикмахерских машинок:
      td.material-table__cell 350-4000 руб.
    tr.material-table__row
      td.material-table__cell Ремонт фенов:
      td.material-table__cell 200-1000 руб.
    tr.material-table__row
      td.material-table__cell Ремонт плоек:
      td.material-table__cell 200-1000 руб.
    tr.material-table__row
      td.material-table__cell Ремонт стерелизаторов:
      td.material-table__cell 200-700 руб.
    tr.material-table__row
      td.material-table__cell Ремонт ламп:
      td.material-table__cell 200-1500 руб.
    tr.material-table__row
      th(colspan="2").material-table__caption.pt-3 Парикмахерский инструмент
    tr.material-table__row
      td.material-table__cell Заточка парикмахерских ножниц:
      td.material-table__cell 350 руб.
    tr.material-table__row
      td.material-table__cell Заточка филировочных ножниц:
      td.material-table__cell 350 руб.
    tr.material-table__row
      td.material-table__cell Заточка ножевых блоков для машинок:
      td.material-table__cell 350 руб.
    tr.material-table__row
      td.material-table__cell Заточка горячих ножниц:
      td.material-table__cell 500 руб.
    tr.material-table__row
      td.material-table__cell Заточка портных ножниц:
      td.material-table__cell 200 руб.
    tr.material-table__row
      th(colspan="2").material-table__caption.pt-5 Маникюрный инструмент
    tr.material-table__row
      td.material-table__cell Исправление загнутых, обломанных концов:
      td.material-table__cell 50&ndash;100 руб.
    tr.material-table__row
      td.material-table__cell Заточка маникюрных ножниц:
      td.material-table__cell 200 руб.
    tr.material-table__row
      td.material-table__cell Заточка кусачек для кожи:
      td.material-table__cell 250 руб.
    tr.material-table__row
      td.material-table__cell Заточка кусачек свыше 10 мм, ногтевые кусачки:
      td.material-table__cell 300 руб.
    tr.material-table__row
      th(colspan="2").material-table__caption.pt-5 Все мелкие инструменты
    tr.material-table__row
      td.material-table__cell Заточка пинцетов, шаберов, и так далее:
      td.material-table__cell 150 руб.
    tr.material-table__row
      th(colspan="2").material-table__caption.pt-5 Грумерский инструмент
    tr.material-table__row
      td.material-table__cell Заточка ножевых блоков для машинок:
      td.material-table__cell 400 руб.
    tr.material-table__row
      td.material-table__cell Заточка ножниц:
      td.material-table__cell 400 руб.
    tr.material-table__row
      th(colspan="2").material-table__caption.pt-5 Бытовой инструмент
    tr.material-table__row
      td.material-table__cell Заточка кухонных ножей:
      td.material-table__cell 100 руб.
    tr.material-table__row
      td.material-table__cell Заточка ножей на мясорубку с сеткой:
      td.material-table__cell 200 руб.
    
  p.mt-5 Остальные виды заточки и ремонта инструментов уточняйте по телефону: 8 (900) 56‒56‒156