.col-12#reviews
  h2.mt-5.pt-5.text-center Отзывы клиентов
  .reviews.slider
    .slider__item
      span.slider__title Наталья Тарасенко 
        small.text-muted Салон красоты «ИДЕАЛ»
      .slider__description 
        blockquote.blockquote «Хочу выразить благодарность за отличную работу. Инструмент стрижет отлично, как новый. Спасибо огромное! Буду рекомендовать Вас всем друзьям и коллегам.»
      img.hidden-sm-down.slider__img(src="/img/review/ntarasenko.jpg" alt="Отзыв об мастере заточки")
    
    .slider__item
      span.slider__title Ксения Морозова 
        small.text-muted салон красоты «Людмила»
      .slider__description
        blockquote.blockquote «Константин, СПАСИБО ВАМ ОГРОМНОЕ за мой инструмент!!!! Ножницы не стригут, а плывут! Машинка зверь стала! Спасибо)))))»
      img.hidden-sm-down.slider__img(src="/img/review/kmorozova.jpg" alt="Отзыв zatochka39.ru")

    .slider__item
      span.slider__title Анастасия Ивановна
        //- small.text-muted Барбершоп «Олд бой»
      .slider__description 
        blockquote.blockquote «Константин, я очень довольна Вашей работой! Мою любимые ножницы и щипчики опять меня радуют! Буду обращаться и рекомендовать Вас. Спасибо!!!»
      img.hidden-sm-down.slider__img(src="/img/review/aivanova.jpg" alt="Отзыв заточка калининград")

    .slider__item
      span.slider__title Светлана Ефремова
        //- small.text-muted Барбершоп «Олд бой»
      .slider__description 
        blockquote.blockquote «Спасибо огромное, ножничкам вернули жизнь, я очень довольна!!!)»
      img.hidden-sm-down.slider__img(src="/img/review/sefremova.jpg" alt="Отзыв")

    .slider__item
      span.slider__title Светлана Гасс
        //- small.text-muted Барбершоп «Олд бой»
      .slider__description 
        blockquote.blockquote «Костя машинка работает! Супер! Спасибо огромное! Придите, пожалуйста, расчитаюсь с вами.»
      img.hidden-sm-down.slider__img(src="/img/review/sgass.jpg" alt="Отзыв о заточке")
  .col-12.text-center
    a.mt-5.btn.btn-primary(href="https://vk.com/topic-66906780_32724400" rel="nofollow" target="_blank") Оставить отзыв