.row#shop
  .col-12
    h2.mt-5.pt-5.text-center Каталог маникюрных инструментов
.row.justify-content-center.align-items-center
  .col-sm-4.text-center.mt-5.pt-5
    p Ножницы-пинцет «MS-404-DP Cobalt Jacks Beauty»
    img.img-fluid(src="/img/catalog/ms-404-dp.jpg" alt="Ножницы-пинцет Cobalt Jacks")
    p: strong 900 руб.
    button.btn.btn-primary(type="button" data-toggle="modal" data-target="#ms404dp") Подробнее
    .modal.fade#ms404dp(tabindex="-1" role="dialog" aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content.text-left
          .modal-header
            h3.modal-title#ms404dp «MS-404-DP Cobalt Jacks Beauty»
            button.close(type="button" data-dismiss="modal" aria-label="Закрыть")
              span(aria-hidden="true") &times;
          .modal-body
            ul
              li Приятный ход;
              li Медицинская сталь;
              li Выдерживает все виды стерилизации;
              li Долго держат заточку.
            p: strong Цена: 900 руб.
          .modal-footer
            button.btn.btn-secondary(type="button" data-dismiss="modal") Закрыть

  .col-sm-4.text-center.mt-5.pt-5
    p Ножницы для заусениц «Олтон» 110 и 130 мм
    img.img-fluid(src="/img/catalog/olton.jpg" alt="Ножницы для заусениц")
    p: strong 1 300 руб.
    button.btn.btn-primary(type="button" data-toggle="modal" data-target="#olton") Подробнее
    .modal.fade#olton(tabindex="-1" role="dialog" aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content.text-left
          .modal-header
            h3.modal-title#olton Ножницы для заусениц «Олтон»
            button.close(type="button" data-dismiss="modal" aria-label="Закрыть")
              span(aria-hidden="true") &times;
          .modal-body
            ul
              li Инструмент изготовлен из медицинской высоколегированной нержавеющей стали 40х13;
              li Подлежит любым видам стериализации;
              li Ручная работа. Ручная заточка по специальной технологии;
              li Чехлы ручной работы - натуральная высокачественная телячья кожа;
              li Фирменная этикетка с описанием модели в комплекте.
            img.img-fluid(src="/img/catalog/olton-1.jpg")
            p: strong Цена: 1 300 руб.
          .modal-footer
            button.btn.btn-secondary(type="button" data-dismiss="modal") Закрыть

  .col-sm-4.text-center.mt-5.pt-5
    p Ножницы «Сталекс» различных размеров для реза кутикулы
    img.img-fluid(src="/img/catalog/stalex.jpg" alt="Ножницы для реза кутикулы")
    p: strong от 500 руб.
    button.btn.btn-primary(type="button" data-toggle="modal" data-target="#stalex") Подробнее
    .modal.fade#stalex(tabindex="-1" role="dialog" aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content.text-left
          .modal-header
            h3.modal-title#stalex Ножницы «Сталекс» для реза кутикулы
            button.close(type="button" data-dismiss="modal" aria-label="Закрыть")
              span(aria-hidden="true") &times;
          .modal-body
            p Каждый инструмент проверен и перезаточен если этого требовалось.
            img.img-fluid(src="/html/img/catalog/stalex-1.jpg")
            p: strong Цена: от 500 руб.
          .modal-footer
            button.btn.btn-secondary(type="button" data-dismiss="modal") Закрыть

  
.row.pt-5
  .col.redy-to-action
    p.text-center.display-4 Нужен ремонт?
    p.text-center.display-4 Звоните! 8 (900) 56‒56‒156

.row.justify-content-center.align-items-center
  .col-sm-4.text-center.mt-5.pt-5
    p Ремонт и замена запчастей на маникюрные аппараты
    img.img-fluid(src="/img/catalog/strong.jpg" alt="Ремонт и замена запчастей на маникюрные аппараты")
    

  .col-sm-4.text-center.mt-5.pt-5
    p Ремонт различных парикмахерских машинок
    img.img-fluid(src="/img/catalog/repair-1.jpg" alt="Ремонт различных парикмахерских машинок")
    

  .col-sm-4.text-center.mt-5.pt-5
    p Ремонт, профилактика, чистка
    img.img-fluid(src="/img/catalog/repair.jpg" alt="Ремонт, профилактика, чистка")
    

  